.collection {
    margin: 140px 0 120px;
}
.collection-content {
    margin-bottom: 40px;
}
.collection-subtitle {
    font-size: 13px;
}
.collection-title {
    max-width: 300px;
    font-size: 38px;
}
.collection-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.collection-list--item {
}
.collection-item--img {
}
.collection-item--content {
}
.collection-item--subtitle {
}
.collection-item--title {
}
.collection-item--link {
}