.footer {
    background-color: var(--global-black);
    color: var(--accen2-color);
}
.footer-content {
    padding: 190px 0;
}
.footer-content-row {}
.footer-content-left {
}
.footer-subtitle {
}
.title {
}
.footer-title {
}
.footer-content-right {
}
.footer-content-link {
}
.footer-bottom {
    padding: 60px 0 80px;
    background-color: var(--accent-color);
}
.footer-bottom--row {}
.footer-bottom--desc {
}