.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--global-black);
    padding: 20px 0;
    transition: all .6s ease;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    width: 104px;
    height: 25px;
    transition: all .3s ease;


    & rect,
    & path {
        transition: fill .3s ease;
    }

    &:hover rect,
    &:hover path{
        fill: var(--global-primary);
    }
    &:active rect,
    &:active path{
        fill: var(--global-primary-active);
    }
}
.headScroll {
    transform: translateY(-65px);
}
.header-menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: var(--global-white);
    cursor: pointer;
    transition: color .3s ease;
}
.header-menu:hover {
    color: var(--global-primary);
}
.header-menu rect {
    transition: fill .3s ease;
}
.header-menu:hover rect {
    fill: var(--global-primary);
}
.header-menu:active {
    color: var(--global-primary-active);
}
.header-menu:active rect {
    fill: var(--global-primary-active);
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    transform: translateX(-120%);
    background-color: var(--accent-color);
    box-shadow: 8px 0 10px 0 rgba(0, 0, 0, .6);
    transition: transform 1s ease;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    left: 28px;
}
.sidebar-nav--link {
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 8px;
    color: var(--global-white);
}
.sidebar-close {
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    top: 40px;
    right: 30px;
    color: var(--global-white);
    cursor: pointer;
    transition: color .3s ease;
}
.sidebar-close:hover {
    color: var(--global-primary);
}
.sidebar-close:active {
    color: var(--global-primary-active);
}