.hero {
    padding: 65px 0 0;
    background-color: darkslateblue;
    // background-color: var(--global-black);
}
.hero-row {
}
.swiper {
    height: auto;
}
.mySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
    background-color: darkslategray;
}
.swiper-lide--image {
    display: block;
    max-height: 360px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-slide-content {
    position: absolute;
    top: 50%;
    left: 20%;
    color: var(--global-white);
    transform: translateY(-50%);
}
.swiper-slide-content h2 {
    font-family: var(--second-family);
}
.hero-subtitle {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;

    & img {
        display: block;
        margin-top: 4px;
    }
}
.hero-title {
    font-size: 80px;
    & span {
    }
}
.swiper-button-next {
}
.swiper-button-prev {
}
@media screen and (min-width: 1024px) {
    .swiper-lide--image {
        max-height: 500px;
    }
}
@media screen and (min-width: 1440px) {
    .swiper-lide--image {
        max-height: 600px;
    }
}