.hero {
    padding: 65px 0 0;
}
.hero-row {
}
.swiper {
    height: auto;
}
.mySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
    position: relative;
}
.swiper-lide--image {
    display: block;
    max-height: 360px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-slide-content {
    display: none;
    position: absolute;
    top: 50%;
    // left: 20%;
    margin: 0 auto;
    background-color: darksalmon;
    color: var(--global-white);
    // transform: translateY(-50%);
}
.swiper-slide-content h2 {
    font-family: var(--second-family);
}

.hero-subtitle {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 50px;
    column-gap: 10px;

    & img {
        display: block;
        margin-top: 4px;
        margin-left: 5px;
    }
}
.hero-title {
    font-size: 80px;
    line-height: 90px;

    & span {
        color: transparent;
        -webkit-text-stroke: 1px var(--global-white);
    }
}
.slide-btns {
    display: block;
    max-width: 1150px;
    position: absolute;
    height: 100px;
    margin: 0 auto;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 10;
    transform: translateY(-50%);
}

.swiper-button-next.arrow-btn,
.swiper-button-prev.arrow-btn {
    border: 1px solid;
    padding: 0 20px;
    border-radius: 8px;
    color: var(--global-white);
    transition: color .3s ease;

    &::after {
        font-size: 20px;
    }
    &:hover {
        color: var(--global-gray);
    }
}

 
@media screen and (min-width: 1024px) {
    .swiper-lide--image {
        max-height: 500px;
    }
}
@media screen and (min-width: 1440px) {
    .swiper-lide--image {
        max-height: 600px;
    }
}