.hero {
    padding: 160px 0 100px;
}
.hero-row {
}
.swiper {
    height: 100px;
    background-color: darkseagreen;
}
.mySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
    background-color: darkslategray;
}
.swiper-button-next {
}
.swiper-button-prev {
}