.manifest {
}
.manifest-content {
    background: url('../../images/manifest/bg-manifest.png');
    padding: 145px 0 105px;
    text-align: right;
}
.subtitle {
    display: block;
}
.manifest-content--title {
    color: var(--global-white);
}
.manifest-box {
   
}
.manifest-list {
    max-width: 600px;
    list-style: none;
    color: var(--global-white);
    padding: 40px 40px 80px;
    background-color: var(--global-black);
    position: relative;
    transform: translateY(20px);

    &::before {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: var(--global-black);
    }
}
.manifest-list--title {
}
.manifest-list--item {
}
.manifest-item--num {
}
.manifest-item--inner {
}
.manifest-item--title {
}
.manifest-item--desc {
}