.manifest-content {
    background: url('../../images/manifest/bg-manifest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 145px 0 105px;
    text-align: right;
}
.subtitle {
    display: block;
}
.manifest-content--title {
    color: var(--global-white);
}
.manifest-list {
    max-width: 600px;
    list-style: none;
    color: var(--global-white);
    padding: 40px 40px 80px;
    background-color: var(--global-black);
    position: relative;
    transform: translateY(20px);

    &::before {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: var(--global-black);
    }
}
.manifest-list--title {
    max-width: 300px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 34px;
}
.manifest-list--item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}
.manifest-item--num {
    font-size: 60px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--global-primary);

}
.manifest-item--title {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 6px;
    letter-spacing: 1px;
}
.manifest-item--desc {
    max-width: 400px;
    font-size: 14.5px;
    font-weight: 500;
    color: var(--global-gray);
    line-height: 22px;
}

@media screen and (max-width: 425px) {
    .manifest-list--title  {
        text-align: center;
    }
    .manifest-list--item {
        flex-direction: column;
    }
    .manifest-item--num {
        margin-bottom: 15px;
    }
    .manifest-item--inner {
        text-align: center;
    }
}