.moment {
}
.moment-content {
    margin: 130px 0;
}
.moment-content--title {
    font-size: 28px;
    max-width: 220px;
}
.moment-content--subtitle {
    font-size: 14px;
}
.swiper {
}
.swiperMoment {
    background-color: darkkhaki;
}
.swiper-wrapper {
}
.swiper-slide {
    min-height: 550px;
    background-color: darkgoldenrod;
}
.swiper-slide.swiper-slide-active {
    width: 700px !important;
    // width: 100% !important;
}