.moment {
}
.moment-content {
    margin: 130px 0;
}
.moment-content--title {
    font-size: 28px;
    max-width: 220px;
}
.moment-content--subtitle {
    font-size: 14px;
}
.swiperMoment {
    max-width: 3280px;
    margin: 0 auto;
    overflow: hidden;
}
.swiperMoment-slide {
    max-height: 600px;
    object-fit: cover;
}