.moment {
}
.moment-content {
    margin: 130px 0;
}
.moment-content--title {
    font-size: 28px;
    max-width: 220px;
}
.moment-content--subtitle {
    font-size: 14px;
}
.swiperMoment {
    background-color: darkcyan;
    max-width: 3280px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}
.swiperMoment-slide {
    min-height: 550px;
    background-color: darkgoldenrod;
}