.partner {
    padding: 120px 0 100px;
}
.partner-content {
    margin-bottom: 120px;
}
.partner-subtitle {
}
.partner-title {
    font-size: 38px;
}
.partner-list {
    display: grid;
    grid-template-columns: repeat(280px, 4);
    list-style: none;
}
.partner-list--item {
    background-color: darkorange;
}
.partner-item--img {
}