*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-family);
    font-size: 15px;
    
}
.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.subtitle {
    display: flex;
    align-items: center;
    column-gap: 10px;

    & img {
        margin-top: -2px;
    }
    & span {
        font-family: var(--second-family);
        color: var(--global-primary);
    }
}
.title {
    font-weight: 700;
    font-family: var(--second-family);
}
.desc {
    font-weight: 700;
    font-size: 15px;
    color: var(--global-gray);
    line-height: 22px;
    letter-spacing: .6px;
}