:root {

    /* font-family */
    --main-family: "Roboto", serif;
    --second-family: "Space Grotesk", serif;

    /* colors */
    --global-white: #FFFFFF;
    --global-black: #000000;
    --global-gray: #54595F;
    --global-primary: #6C5CCC;
}